/* ! FONTS */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ! VARIABLES */

:root {
  --josefin: "Josefin Sans", sans-serif;
  --poppins: "Poppins", sans-serif;
}

/* ! RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ! COMPONENTS */

.btn {
  display: inline-block;
  padding: 6px 32px;
  border-radius: 0.5em;
}

.btn-primary {
  background-color: #f63848;
  margin: 1em 0;
}

.btn-secondary {
  background-color: transparent;
  border: solid 1px white;
}

.illustration {
  width: 11em;
  height: 11em;
  border-radius: 1em;
}

#card-1 {
  background: linear-gradient(to right, #ff512f, #dd2476);
}

#card-2 {
  background: linear-gradient(to right, #348f50, #56b4d3);
}

#card-3 {
  background: linear-gradient(to right, #da22ff, #9733ee);
}

#card-4 {
  background: linear-gradient(to right, #232526, #414345);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4em;
  font-size: 14px;
  word-spacing: 2px;
  color: #fff;
  background-color: #1f2937;
}

.logo {
  font-size: 18px;
  font-weight: bolder;
}

/* ! STYLING */

/* ? NAVBAR */

nav {
  align-items: center;
  height: 4em;
  width: 100%;
  padding: 0 64px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  color: #fff;
}

ul {
  display: flex;
}

li a {
  font-size: 14px;
  font-family: var(--josefin);
  text-transform: uppercase;
  padding: 8px 0 0 64px;
}

/* ? MAIN */

main {
  padding: 0 64px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg") center/cover
      no-repeat;
  min-height: 100vh;
  color: #fff;
}

.main-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: wrap;
  max-width: 35em;
  min-height: 22.5em;
}

.main-information .main-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  text-transform: capitalize;
}

.main-information .main-description {
  font-size: 18px;
  color: #e5e7eb;
}
img {
  width: 37.5em;
  height: 22.5em;
  border-radius: 1em;
}

/* ? INFO-SECTION */

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 72px;
}

.info-title {
  margin: 2em 0;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.card-container {
  display: flex;
  margin: 0 0 8em 0;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2em;
}

.subtext {
  max-width: 11em;
  padding: 0.5em 0;
}

/* ? QUOTE-SECTION */

.quote-section {
  width: 100%;
  min-height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

blockquote {
  display: flex;
  flex-direction: column;
  max-width: 60em;
}

blockquote q {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

blockquote cite {
  text-align: right;
  font-style: unset;
  font-weight: bolder;
  font-size: 18px;
}

/* ? CTA-SECTION */

.cta-section {
  width: 100%;
  min-height: 17.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-background {
  display: flex;
  background-color: #f63848;
  color: white;
  padding: 48px 0;
  min-width: 60em;
  border-radius: 1em;
  justify-content: space-around;
}

.cta-title {
  font-size: 22px;
}

.cta-background .btn-container {
  display: flex;
  align-items: center;
}
